<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.atom.module.app">
    <application>
        <activity android:name=".WordActivity">
        </activity>
        <activity android:name=".NewWordActivity">
        </activity>
    </application>
</manifest>